<div class="left">
  <%= erb :'reports/_greet_user' %>
</div>
<div class="right">
  <h1>Leader Board</h1>
  <ul class="leaders">
  <% @reports.each do |report| %>
    <li class="<%= report.color %>">
    	<a href="/reports/<%= report.id %>"><%= report.name %></a>
    	(<%= report.score %>)
    </li>
  <% end %>
  </ul>
</div>
