<div class="left">
  <%= erb :'reports/_greet_user' %>
</div>
<div class="right">
  <div class="report">
    <h3>Stats for <%= @report.name %></h3>
    <ul id="stats">
      <li>
        <strong>Total number of tweets:</strong>
        <p><%= @report.total_tweets %></p>
      </li>
      <li>
        <strong>Total number of followers:</strong>
        <p><%= @report.followers_count %></p>
      </li>
      <li>
        <strong>Joined on:</strong>
        <p><%= @report.start_date %></p>
      </li>
      <li>
        <strong>Percent of tweets repeated:</strong>
        <p><%= @report.repetition_percent %></p>
      </li>
      <li>
        <strong>Percent of tweets faved or retweeted:</strong>
        <p><%= @report.faved_retweeted_percent %></p>
      </li>
      <li>
        <strong>Percent of <%= @report.name %>'s followers who get followed back:</strong>
        <p><%= @report.follower_friend_overlap_percent %></p>
      </li>
      <li>
        <strong>Ever updated their profile picture?</strong>
        <p>
          <% if @report.follower_friend_overlap_percent %>
          yes
          <% else %>
          no
          <% end %>
        </p>
      </li>
    </ul>
  </div>
</div>